life expectancy node red flow.json
[{"id":"97ea7dec.f2eb2","type":"tab","label":"node red flow","disabled":false,"info":""},{"id":"cd40f0c4.1df8","type":"function","z":"97ea7dec.f2eb2","name":"PreToken","func":"global.set(\"co\",msg.payload.co);\nglobal.set(\"year\",msg.payload.year);\nglobal.set(\"Status\",msg.payload.Status);\nglobal.set(\"AM\",msg.payload.AM);\nglobal.set(\"id\",msg.payload.id);\nglobal.set(\"Alc\",msg.payload.Alc);\nglobal.set(\"PE\",msg.payload.PE);\nglobal.set(\"HB\",msg.payload.HB);\nglobal.set(\"Mea\",msg.payload.Mea);\nglobal.set(\"BMI\",msg.payload.BMI);\nglobal.set(\"ud\",msg.payload.ud);\nglobal.set(\"Polio\",msg.payload.Polio);\nglobal.set(\"Te\",msg.payload.Te);\nglobal.set(\"Dip\",msg.payload.Dip);\nglobal.set(\"HIV\",msg.payload.HIV);\nglobal.set(\"GDP\",msg.payload.GDP);\nglobal.set(\"Pop\",msg.payload.Pop);\nglobal.set(\"thin\",msg.payload.thin);\nglobal.set(\"thin5\",msg.payload.thin5);\nglobal.set(\"IC\",msg.payload.IC);\nglobal.set(\"Sch\",msg.payload.Sch);\nvar apikey=\"\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":200,"wires":[["bf71aa3.af7eb58"]]},{"id":"bf71aa3.af7eb58","type":"http request","z":"97ea7dec.f2eb2","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":260,"wires":[["b57cf445.d14ab8","f6f87aa7.0a46c8"]]},{"id":"b4bf82e4.5b583","type":"inject","z":"97ea7dec.f2eb2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":220,"wires":[["cd40f0c4.1df8"]]},{"id":"f6f87aa7.0a46c8","type":"function","z":"97ea7dec.f2eb2","name":"Pre Prediction","func":"var co = global.get('co')\nvar year = global.get('year')\nvar Status = global.get('Status')\nvar AM = global.get('AM')\nvar id = global.get('id')\nvar Alc = global.get('Alc')\nvar PE = global.get('PE')\nvar HB = global.get('HB')\nvar Mea = global.get('Mea')\nvar BMI = global.get('BMI')\nvar ud = global.get('ud')\nvar Polio = global.get('Polio')\nvar Te = global.get('Te')\nvar Dip = global.get('Dip')\nvar HIV = global.get('HIV')\nvar GDP = global.get('GDP')\nvar Pop = global.get('Pop')\nvar thin = global.get('thin')\nvar thin5 = global.get('thin5')\nvar IC = global.get('IC')\nvar Sch = global.get('Sch')\nvar token=msg.payload.access_token\nvar instance_id=\"\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \n\"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \n\"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\",\n\"Income composition of resources\", \"Schooling\"], \n\"values\": [[co,year,Status,AM,id,Alc,PE,HB,Mea,BMI,ud,Polio,Te,Dip,HIV,GDP,Pop,thin,thin5,IC,Sch]]}]}\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":300,"wires":[["fcf7c837.94f108"]]},{"id":"fcf7c837.94f108","type":"http request","z":"97ea7dec.f2eb2","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":260,"wires":[["1dff96ff.443f59","fcdab1b8.aecc4"]]},{"id":"b7428f7a.e32f1","type":"ui_form","z":"97ea7dec.f2eb2","name":"","label":"Life Expectancy form","group":"a70eeb5.ffcf618","order":5,"width":0,"height":0,"options":[{"label":"Country","value":"co","type":"text","required":true,"rows":null},{"label":"Year","value":"year","type":"number","required":true,"rows":null},{"label":"Status","value":"Status","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"AM","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"id","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"Alc","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"PE","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"HB","type":"number","required":true,"rows":null},{"label":"Measles","value":"Mea","type":"number","required":true,"rows":null},{"label":"BMI","value":"BMI","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"ud","type":"number","required":true,"rows":null},{"label":"Polio","value":"Polio","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"Te","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"Dip","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"HIV","type":"number","required":true,"rows":null},{"label":"GDP","value":"GDP","type":"number","required":true,"rows":null},{"label":"Population","value":"Pop","type":"number","required":true,"rows":null},{"label":"thinness 1-19 years","value":"thin","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"thin5","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"IC","type":"number","required":true,"rows":null},{"label":"Schooling","value":"Sch","type":"number","required":true,"rows":null}],"formValue":{"co":"","year":"","Status":"","AM":"","id":"","Alc":"","PE":"","HB":"","Mea":"","BMI":"","ud":"","Polio":"","Te":"","Dip":"","HIV":"","GDP":"","Pop":"","thin":"","thin5":"","IC":"","Sch":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":160,"wires":[["cd40f0c4.1df8"]]},{"id":"f2c4d172.f0a2c","type":"ui_text","z":"97ea7dec.f2eb2","group":"a70eeb5.ffcf618","order":6,"width":0,"height":0,"name":"","label":"The predicted value for given data is :-","format":"{{msg.payload}}","layout":"row-center","x":810,"y":380,"wires":[]},{"id":"1dff96ff.443f59","type":"debug","z":"97ea7dec.f2eb2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":220,"wires":[]},{"id":"b57cf445.d14ab8","type":"debug","z":"97ea7dec.f2eb2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":220,"wires":[]},{"id":"fcdab1b8.aecc4","type":"function","z":"97ea7dec.f2eb2","name":"output function","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":300,"wires":[["f2c4d172.f0a2c"]]},{"id":"a70eeb5.ffcf618","type":"ui_group","z":"","name":"Default","tab":"bac36853.133f68","order":1,"disp":true,"width":"6","collapse":false},{"id":"bac36853.133f68","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]